<!DOCTYPE html>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
	<link href="{{ STATIC_URL }}img/favicon.png" rel="icon"  />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    {% block extrascripts %}
    
    {% endblock %}
<head> <title>{% block title %}Wordnik Business Intelligence{% endblock %}</title> </head>

<body>
	<div id="header">
		<div id="innerHeader">
			<div id="headerLogo">
				<a href="/"><img src="{{ STATIC_URL }}/img/wordnik_logo_white.png" class="banner" /></a> Market Research
			</div>
			<div id="headerNav">
				{% block nav-global %}
					<form id="searchForm" action="/search" method="GET">
						<input type="text" class="smallSlickInput" name="term" placeholder="search companies" />
						<input type="submit" class="smallSubmit" value="Search" />
					</form>
					<ul id="headerNavList">
						<li class="headerNavItem"><a class="headerLink"href="/">Home</a></li>
						<!--<li class="headerNavItem">{{ user.get_full_name }}</li>-->
						<!--<li class="headerNavItem"><a class="headerLink" href="/{{user.username}}/account/">Account</a></li>-->
					{% if user.is_staff %}                
						<li class="headerNavItem"><a class="headerLink" href="/admin/">Admin</a>
							<ul class="headerDropDown">
								<li><a href="/company/add">Add a Company</a></li>
								<li><a href="/source/add">Add a Source</a></li>
								<li><a href="/segment/add">Add a Segment</a></li>
								<li><a href="/metric/add">Add a Metric</a></li>
								<li><a href="/report/add">Add an Analysis</a></li>
							</ul>
						</li>
					{% endif %}
					
					{% if user.is_authenticated %}
						<li class="headerNavItem"><a class="headerLink" href="/logout/">Logout</a></li>
					{% endif %}
					</ul>
					<select id="jumpToList">
						<option value="">Jump to ...</option>
						<option value="segment/all">Market segments</option>
						<option value="company/all">Companies</option>
						<option value="source/all">Sources</option>
					</select>
				{% endblock %}
			</div>
			<div class="spacer"></div>
		</div>
        
	</div>
    {% if notification %}
    	<div id="notification">
    		{{ notification }}
    	</div>
    {% endif %}
    <div id="container">
        

        <div id="content">
            <div id="titleBar">
            	<div class="pageTitle">
            		<p class="pageHead">{% block pagetitle %}Welcome to Wordnik's Market Research Dashboard{% endblock %}</p> 
            	</div>
            	<div class="pageOptions">
            		<!-- eventually put the page options here -->
            	</div>
            	<div class="spacer"></div>
            </div>
            
            <div id="mainContent" class="left">{% block content %}{% endblock %}</div>
            <div id="sidebar" class="left"> 

            	
            	{% block sidebar %} 
            	
            	
            	{% endblock %} 
            	
				
            	
            	
            </div>
            
            <div class="spacer"></div>
        </div>
    </div>
    <div id="footer">
    
    </div>
    

</body>
</html>