{% extends "base.html" %}

{% block extrascripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.expander.min.js"></script>
    <script type="text/javascript">
    	$(function() {
			// override default options (also overrides global overrides)
			  $('div.description p').expander({
					slicePoint:       100,  // default is 100
					expandPrefix:     ' ', // default is '... '
					expandText:       '[...]', // default is 'read more'
					collapseTimer:    5000, // re-collapses after 5 seconds; default is 0, so no re-collapsing
					userCollapseText: '[^]'  // default is 'read less'
			  });
		});
    </script>
{% endblock %}

{% block pagetitle %}
	Segment: {{s.name}}
{% endblock %}

{% block content %}

{% if s.description %}
	<div class="descriptionPara">
		{{ s.description|safe }}
	</div>
{% else %}
	<p>No description</p>
{% endif %}

<p class="pageSubHead">Companies</p>
	{% if s.company_set.all %}
		<ul class="slickList">
			{% for c in s.company_set.all %}
				<li class="slickListItem"><a href="/company/{{ c.id }}">{{ c.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no companies associated with this segment.  Which is a conundrum.</p>
	{% endif %}

{% endblock %}

{% block sidebar %}
<p class="pageSubHead">Actions</p>
<ul class="slickList">
	<li class="slickListItem"><a href="/segment/edit/{{ s.id }}">Edit this segment</a></li>
</ul>

{% endblock %}