/* @override http://127.0.0.1:8000/static/css/main.css */

/* Property Styles */

body {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-size: 13px;
}

label {
	width: 150px;
}

img {
	border: none;
}

a {
	text-decoration: none;
	color: #1980D7;
}

a:hover {
	text-decoration: underline;
}

/* Utility styles */

div.left {
	float: left;
}

div.right {
	float:right;
}

/* Positioning styles */

div#header {
  -webkit-box-shadow:rgba(0, 0, 0, 0.199219) 0 2px 8px 5px;
  background-color:black;
  box-shadow:rgba(0, 0, 0, 0.199219) 0 2px 8px 5px;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  height:50px;

  width:100%;
  
}


div#innerHeader {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

div#container {
	width: 100%;
	
}

div#content {
	/*width: 1000px;*/
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

div#titleBar {
	margin-top:10px;

}

div#pageOptions {
	float:right;
}

div#sidebar {
	width: 250px;
	/*font-size:11px;*/
}

div#mainContent {
	width:65%;
	margin-right: 20px;
}

div.pageTitleBarDiv {
	margin-right:25px;
	float: left;
	padding-top:3px;
}

div#coName {
	font-size: 20px;
	font-weight:bold;
	padding-top:0px;
}

div.tileDiv {
	float:left;
	width:350px;
	margin-right:10px;
}

/* Form Styles */


input {
	width: 325px;
	height: 20px;
	font-size: 14px;
}

input.slickInput {
	width: 255px;
	height: 20px;
	font-size: 14px;
}

input.smallSlickInput {
	width: 150px;
	height: 14px;
	font-size: 12px;
}

input.slickSubmit {
	
}



div.confirmInput {
	float: left;
	height: 25px;
	font-size: 14px;
	padding-top: 5px;
}

.mediumSubmit {
	width: 150px;
	line-height: 16pt;
	font-size: 12pt;
	
}

.smallSubmit {
	width: 75px;
	line-height: 14pt;
	font-size: 12pt;
	
}

span.fieldLabel {
	/*float: left;*/
	min-width: 125px;
	font-size:14px;
	font-weight:bold;
}




/* Header styles */

form#searchForm {
	display:inline;
}

div#headerLogo {
	float: left;
	margin-top: 15px;
	color: #fff;
	font-size: 16px;
}

div#headerLogo img {
	margin-right:5px;
}

div#headerNav {
	float: right;
	margin-right: 50px;
	margin-top: 25px;
	font-size: 14px;
}

div#headerNav a {
	text-decoration: none;
}

ul#headerNavList {
	list-style: none;
	margin: 0;
	padding: 0;
	display:inline;
	margin-right:15px;
}

li.headerNavItem {
	display: inline;
	margin-left:15px;
	padding-bottom:5px;
}

ul.headerDropDown {
	visibility:hidden;
	position:absolute;
	right:170px;
	padding-top: 5px;
	list-style:none;

}

ul.headerDropDown li {
	position: relative;
	/*margin-bottom: 10px;*/
	background-color:#000;
	width:150px;
	height:30px;
}

ul.headerDropDown a {
	padding: 0px 10px 0px 10px;
	background-color: #000;
	color: orange;
}

li.headerNavItem:hover ul {
	visibility:visible;
}

a.headerLink {
	color: #fff;
}

/* List styles */

div.listWrapper {
	line-height: 25px;
}

div.listItem, div.listItemLarge {
	float:left;
	margin-left: 10px;
}

div.listItemLarge {
	width:350px;
}

ul.errorlist {
	list-style: none;
	margin: 5px 0 5px 0;
}

ul.errorlist li {
	margin:0px;
	padding:0px;
	color: red;
}

/* Chart styles */

div.chart {
	left:100px;
	width:750px;
}

/* Link styles */

a.button {
	border-radius: 2px;
	border: 1px solid #666;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
	color: ;
}



a.small-button {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #666;
	font-size: 14px;
	padding: 5px;
	text-decoration: none;
}


/* Admin styles */

div.midLength {
	float: left;
	width: 500px;
	margin-bottom: 10px;
}

a.adminButton {
	padding: 2px 5px 2px 5px;
	color: #FF4D11;
	background-color: #000;
	border-radius:3px;
}

a.adminButton:hover {
	color: #fff;
	text-decoration: none;
}

/*  Form styles */



div#title {
	margin-top: 25px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
}


div#main-promo {
	margin-top: 15px;
	width: 750px;

}

div#message {
	margin-top: 15px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 125px;
}

div#message-success {
	margin-top: 15px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 250px;
}

div#email-form {
	margin-top: 25px;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

div#left-promo {
	float: left;
	margin-right: 15px;
	width: 500px;
}

div#right-promo {
	float: left;
	margin-left: 15px;
}

div#footer {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	margin-bottom: 25px;
}


/* Main styles */

div.descriptionPara {
	font-size:11px;
}

p.pageHead {
	font-size:16px;
	font-weight:bold;
	margin-bottom: 10px;
}

p.pageSubHead {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

ul.slickList, ul.slickListFlat {
	list-style: none;
	margin:0px;
	padding: 0px;
}

ul.slickList li {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul.slickListFlat li {
	margin-right: 10px;
	display: inline;
}

/* Sidebar styles */

p.sidebarHead {
	font-weight: bold;
}

ul.sidebarList {
	list-style:none;
	margin: 10px 0 0 0;
	padding: 0;
}

li.sidebarListItem {
	margin: 5px 0 5px 0;
}

p.note {
	margin: 0;
	font-size: 10pt;
	font-weight: normal;
}



img.logo {
	vertical-align: middle;
}

/* Footer styles */

div#footer-copyright {
	float: left;
}

div#footer-links {
	float: right;
}

ul#footer-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.footer-links-entry {
	display: inline;
	margin-right: 15px;
	font-size: 10pt;
}

li.footer-links-entry a {
	text-decoration: none;
}

span.title {
	font-size: 22pt;
}

/* Sundry styles */

.spacer {
	clear: both;
}

.strong {
	font-weight: bold;
}

.logo {
	font-weight: bold;
}

.warning {
	color: red;
}

p.headline {
	font-weight: bold;
}

div.center {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}