{% extends "base.html" %}

{% block sidebar %}


{% endblock %}

{% block pagetitle %}
	{{s.title}} 
{% endblock %}

{% block content %}
	<p class="pageSubhead">(<a href="{{ s.url }}">view original</a>)</p>
	{% if s.author %}
		<p class="pageSubHead">{{s.author}}, {{s.source}}</p>
	{% else %}
		<em>from</em> <p class="pageSubHead">{{s.source}}</p>
	{% endif %}
<p class="pageSubHead">Related Companies</p>
	{% if s.company.all %}
		<ul class="slickListFlat">
			{% for co in s.company.all %}
				<li class="slickListItem"><a href="/company/{{ co.id }}">{{ co.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>This article is not associated with any companies.</p>
	{% endif %}

<p class="pageSubHead">Tags</p>
	{% if s.tags.all %}
		<ul class="slickListFlat">
			{% for tag in s.tags.all %}
				<li class="slickListItem"><a href="/tag/{{ tag.id }}">{{ tag.name }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>There are no tags associated with this source.</p>
	{% endif %}
	

<p class="pageSubHead">Insight</p>
	{% if s.insight %}
		{{ s.insight|safe }}
	{% else %}
		<p>No insights.</p>
	{% endif %}

<!--
Put links to what this article supports later
-->
<p><a href="/source/all">View all sources</a></p>
{% endblock %}