{% extends "base.html" %}

{% block sidebar %}


{% endblock %}

{% block pagetitle %}
All Companies
{% endblock %}

{% block content %}
{% if cos %}
	<ul class="slickList">
		{% for co in cos %}
			<li><a class="bigLink" href="/company/{{ co.id }}/">{{ co.name }}</a>
			
			{% if co.segments.all %}
				[
					{% for seg in co.segments.all %}
						<a class="alt" href="/segment/{{ seg.id }}">{{ seg.name }}</a>
					{% endfor %}
				]
			{% endif %}
			
			{% if co.tags.all %}
				<div class="smallTagList">
				{% for tag in co.tags.all %}
					<a class="tag" href="/tag/{{ tag.id }}">{{ tag.name }}</a>
				{% endfor %}
				</div>
				<div class="spacer"></div>
			{% endif %}
			
			
			
			<p class="noTopMargin">{{ co.description|truncatewords:30 }}  </p>
			</li>
		{% endfor %}
	</ul>

<!--
<div class="pagination">
    <span class="step-links">
        {% if cos.has_previous %}
            <a href="?page={{ cos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cos.number }} of {{ cos.paginator.num_pages }}
        </span>

        {% if cos.has_next %}
            <a href="?page={{ cos.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
-->
{% else %}
	<p>No companies in the database.</p>
{% endif %}


{% endblock %}
	