{% extends "base.html" %}
{% block extrascripts %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script type="text/javascript">
    	/*
    	$(function() {
			$( 'textarea' ).ckeditor();
			//var editor = $('textarea').ckeditorGet();
			//console.log(editor);
		});
		*/
    </script>
    {% if userStats %}
		<script type="text/javascript">
				// initialize date arrays
				
				months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
				
				
				
				var chart;
				$(document).ready(function() {
					chart = new Highcharts.Chart({
						chart: {
							renderTo: 'userStats',
							defaultSeriesType: 'line'
						},
						title: {
							text: 'Users'
						},
						xAxis: {
							categories: {{ userDates|safe }}
						},
						yAxis: {
							min: 0,
							title: {
								text: 'Total users'
							},
							plotLines: [{
								value: 0,
								width: 1,
								color: '#808080'
							}]
						},
						tooltip: {
							formatter: function() {
									return '<b>'+ this.series.name +'</b><br/>'+
									this.x +': '+ this.y;
							}
						},
						legend: {
							layout: 'vertical',
							align: 'right',
							verticalAlign: 'top',
							x: -10,
							y: 100,
							borderWidth: 0
						},
						series: [{
							name: 'Users',
							data: {{ userStats|safe }}
						}]
					});
					
					
				});
					
			</script>
		{% endif %}
		
		{% if uniqStats %}
		<script type="text/javascript">
				// initialize date arrays
				
				months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
				
				
				
				var chart;
				$(document).ready(function() {
					chart = new Highcharts.Chart({
						chart: {
							renderTo: 'uniqStats',
							defaultSeriesType: 'line'
						},
						title: {
							text: 'Unique Visitors'
						},
						xAxis: {
							categories: {{ uniqDates|safe }}
						},
						yAxis: {
							min: 0,
							title: {
								text: 'Unique Visitors'
							},
							plotLines: [{
								value: 0,
								width: 1,
								color: '#808080'
							}]
						},
						tooltip: {
							formatter: function() {
									return '<b>'+ this.series.name +'</b><br/>'+
									this.x +': '+ this.y;
							}
						},
						legend: {
							layout: 'vertical',
							align: 'right',
							verticalAlign: 'top',
							x: -10,
							y: 100,
							borderWidth: 0
						},
						series: [{
							name: 'Uniques / Month',
							data: {{ uniqStats|safe }}
						}]
					});
					
					
				});
					
			</script>
		{% endif %}
		
		{% if blogStats %}
		<script type="text/javascript">
				// initialize date arrays
				
				var chart;
				$(document).ready(function() {
					chart = new Highcharts.Chart({
						chart: {
							renderTo: 'blogStats',
							defaultSeriesType: 'line'
						},
						title: {
							text: 'Total Number of Blogs / Boards'
						},
						xAxis: {
							categories: {{ blogDates|safe }}
						},
						yAxis: {
							min: 0,
							title: {
								text: '# of Blogs / Boards'
							},
							plotLines: [{
								value: 0,
								width: 1,
								color: '#808080'
							}]
						},
						tooltip: {
							formatter: function() {
									return '<b>'+ this.series.name +'</b><br/>'+
									this.x +': '+ this.y;
							}
						},
						legend: {
							layout: 'vertical',
							align: 'right',
							verticalAlign: 'top',
							x: -10,
							y: 100,
							borderWidth: 0
						},
						series: [{
							name: 'Blogs / Boards / etc.',
							data: {{ blogStats|safe }}
						}]
					});
					
					
				});
					
			</script>
		{% endif %}
{% endblock %}
{% block sidebar %}
	<p class="pageSubHead">Comments</p>
	{% if comments %}
		{% for c in comments %}
			<div class="commentWrapper">
				<p>{{ c.user }}</p>
				<p>{{ c.body|safe }}</p>
			</div>
		{% endfor %}
	{% else %}
		There are no comments for this company
	{% endif %}
	<p>Add your own</p>
	<form action="/company/{{co.id}}/" method="post">
	{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
				<!--<p class="fieldWrapper">
					<span class="fieldLabel">{{ field.label_tag }}:</span> 
				</p>
				-->
				<p class="fieldWrapper">
					{{ field.errors }}
					{{ field }}
				</p>
		{% endfor %}
		<input type="submit" value="Submit" class='mediumSubmit' />
	</form>

{% endblock %}

{% block pagetitle %}
	<div class="pageTitleBarDiv" id="coName">{{co.name}}</div>
	{% if co.segments.all %}
		<div class="pageTitleBarDiv" id="coSegName">	
			
			<ul class="slickListFlat">
				<li class="slickListItem">Segments:</li>
				{% for seg in co.segments.all %}
					<li class="slickListItem"><a href="/segment/{{ seg.id }}">{{ seg.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% else %}
		<p>This company is not associated with any market segments.</p>
	{% endif %}
	

		<div class="pageTitleBarDiv" id="coTags">
			
			<ul class="slickListFlat">
				<li class="slickListItem">Tags:</li>
					{% if co.tags.all %}
						{% for tag in co.tags.all %}
							<li class="slickListItem"><a class="tag" href="/tag/{{ tag.id }}">{{ tag.name }}</a></li>
						{% endfor %}
					{% else %}
						<li class="slickListItem">None.</li>
					{% endif %}
			</ul>
		</div>
	
	<div class="pageTitleBarDiv">
		<a class="adminButton" href="/company/edit/{{co.id}}">edit</a>
	</div>
	<div class="spacer"></div>
{% endblock %}

{% block content %}
View: 
<select id="mainNav">
	<option value="descr" selected=true>Description</option>
	<option value="met">Metrics</option>
	<option value="src">Sources</option>
</select>
<p>
	<a target="_blank" href="/{{ co.url }}">{{co.url}}</a>
</p>
<div id="compdescr" class="compInfoDiv">
	<p class="pageSubHead">Description</p>
		{% if co.description %}
			{{ co.description|safe }}
		{% else %}
			<p>No description</p>
		{% endif %}
		<p class="pageSubHead">Sources</p>
		{% if sources.all %}
			{% for s in sources.all %}
			<p class="slickListItem"><a href="/source/{{ s.id }}">{{ s.title }}</a>, <em>{{ s.source }}</em>
			{{ s.insight|safe }}
			</p>
			{% endfor %}
		{% else %}
			<p>There are no sources for this company.  How unprofessional.</p>
		{% endif %}
</div>

<div id="compmet" class="compInfoDiv">
	<p class="pageSubHead">Metrics</p>
	
	{% if userStats %}
		<div class="chart" id="userStats"></div>
	{% endif %}
	
	{% if uniqStats %}
		<div class="chart" id="uniqStats"></div>
	{% endif %}
	
	{% if blogStats %}
		<div class="chart" id="blogStats"></div>
	{% endif %}
	
		{% if metrics %}
			<ul class="slickList">
			{% for m in metrics %}
				<li class="slickListItem">{{ m.category}}: {{m.stat}} ({{m.date}}), <a href="/source/{{m.source.id}}">{{m.source.title}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No metrics</p>
		{% endif %}
</div>
<div id="compsrc" class="compInfoDiv">
	<p class="pageSubHead">Sources</p>
		{% if sources.all %}
			{% for s in sources.all %}
			<p class="slickListItem"><a href="/source/{{ s.id }}">{{ s.title }}</a>, <em>{{ s.source }}</em>
			{{ s.insight|safe }}
			</p>
			{% endfor %}
		{% else %}
			<p>There are no sources for this company.  How unprofessional.</p>
		{% endif %}

</div>

{% endblock %}