{% extends "base.html" %}

{% block extrascripts %}
    
{% endblock %}

{% block sidebar %}



{% endblock %}

{% block pagetitle %}
	{{co.name}} Edit Form
{% endblock %}

{% block content %}
<form action="/company/edit/{{co.id}}/" method="post" enctype="multipart/form-data">
{% csrf_token %}
	{% for hidden in form.hidden_fields %}
	{{ hidden }}
	{% endfor %}
	{% for field in form.visible_fields %}
			<p class="fieldWrapper">
				<span class="fieldLabel">{{ field.label_tag }}:</span> 
			</p>
			<p class="fieldWrapper">
				{{ field.errors }}
				{{ field }}
			</p>
    {% endfor %}
	<input type="submit" value="Submit" class='mediumSubmit' />
</form>

{% endblock %}