{% extends "base.html" %}

{% block sidebar %}



{% endblock %}

{% block pagetitle %}
Admin Sources
{% endblock %}

{% block content %}
{% if sources %}
		{% for s in sources.object_list %}
			<div class="linkWrapper">
				<div class="midLength"><a href="/source/{{ s.id }}/">{{ s.title|truncatewords:10 }}</a></div> 
				<div class="left"><a href="/source/delete/{{s.id}}" class="adminButton">Delete</a></div>
				<div class="spacer"></div>
			</div>
		{% endfor %}
{% else %}
	<p>No sources in the database.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if sources.has_previous %}
            <a href="?page={{ sources.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ sources.number }} of {{ sources.paginator.num_pages }}.
        </span>

        {% if sources.has_next %}
            <a href="?page={{ sources.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
	