{% extends "base.html" %}

{% block sidebar %}



{% endblock %}

{% block pagetitle %}
All Sources
{% endblock %}

{% block content %}
{% if sources %}
	<ul class="slickList">
		{% for s in sources.object_list %}
			<li><a href="/source/{{ s.id }}/">{{ s.title }}</a>,
			{% if s.author %} 
				by {{s.author}}
			{% endif %}
			{% if s.source %}
				from {{s.source}}
			{% endif %}
			</li>
		{% endfor %}
	</ul>
{% else %}
	<p>No sources in the database.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if sources.has_previous %}
            <a href="?page={{ sources.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ sources.number }} of {{ sources.paginator.num_pages }}.
        </span>

        {% if sources.has_next %}
            <a href="?page={{ sources.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
	