{% extends "base.html" %}

{% block sidebar %}


{% endblock %}

{% block pagetitle %}
All Segments
{% endblock %}

{% block content %}
{% if segs %}
	
		{% for seg in segs %}
			<div class="listWrapper">
				<div class="listItemLarge"><a href="/segment/{{ seg.id }}/">{{ seg.name }}</a></div><div class="listItem"><a class="button" href="/segment/edit/{{seg.id}}">Edit</a></div><div class="listItem"></div>
				<div class="spacer"></div>
			</div>
		{% endfor %}
	
{% else %}
	<p>No segments in the database.</p>
{% endif %}


{% endblock %}
	