{% extends "base.html" %}

{% block sidebar %}


{% endblock %}

{% block content %}

<p class="pageSubHead">Recently Added Companies</p>
{% if latest_companies_list %}
	<ul class="slickList">
		{% for co in latest_companies_list %}
			<li><a href="/company/{{ co.id }}/">{{ co.name }}</a></li>
		{% endfor %}
	</ul>
	<p><a href="/company/all"><em>See all companies</em></a></p>
{% else %}
	<p>No companies in the database.</p>
{% endif %}

<p class="pageSubHead">Recent Comments</p>
{% if comments %}
	{% for com in comments %}
		<div class="commentWrapper">
			
			<p> {{ com.body|safe }} </p>
			<p> by {{ com.user }} </p>
		</div>
	{% endfor %}
{% else %}
	<p>No comments in the database.</p>
{% endif %}

{% endblock %}
	