{% extends "base.html" %}

{% block sidebar %}


{% endblock %}

{% block content %}
<p class="pageSubHead">Matching Companies</p>
{% if company_results %}
	<ul class="slickList">
		{% for co in company_results %}
			<li><a href="/company/{{ co.id }}/">{{ co.name }}</a></li>
		{% endfor %}
	</ul>
	
{% else %}
	<p>No companies matching your search query.</p>
{% endif %}

<p class="pageSubHead">Matching Sources</p>
{% if source_results %}
	<ul class="slickList">
		{% for s in source_results %}
			<li><a href="/source/{{ s.id }}/">{{ s.title }}, <em>{{ s.source }}</em></a></li>
		{% endfor %}
	</ul>
	
{% else %}
	<p>No companies matching your search query.</p>
{% endif %}

{% endblock %}
	